<div class="card mb-3 " style="max-width: 100%;">
    <div class="row no-gutters">
      <div class="col-md-5">
        <div class="card-body shadow">
          <!-- Default form subscription "-->
<form class="text-center border border-light p-5" name="form" (ngSubmit)="f.form.valid && save(f)" #f="ngForm"  novalidate>

  <!--<p class="h4 mb-4">Add Employee</p>-->

  <div class="circular--portrait mb-4">
      <img src="../../assets/images.jpg" />
  </div>
  <div class="form-group col-14">
  <!-- FistName -->
  <input type="text" id="firstName" class="form-control mb-4 " placeholder="firstName" #firstName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }" required [(ngModel)]="emp.firstName" name="firstName" >
  <div *ngIf="f.submitted && firstName.invalid" class="invalid-feedback">
    <div *ngIf="firstName.errors.required">First Name is required</div>
  </div>  
  </div>
  <div class="form-group col-14">
  <!-- LastName -->
  <input type="text" id="lastName" class="form-control mb-4" placeholder="LastName" required #LastName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && LastName.invalid }" [(ngModel)]="emp.lastName" name="lastName">
  <div *ngIf="f.submitted && LastName.invalid" class="invalid-feedback">
    <div *ngIf="LastName.errors.required">Last Name  is required</div>
  </div> 
</div>
<div class="form-group col-14">
  <!-- Email -->
  <input type="email" id="emailId" class="form-control mb-4" placeholder="E-mail" required #emailId="ngModel" [ngClass]="{ 'is-invalid': f.submitted && emailId.invalid }" [(ngModel)]="emp.emailId" name="emailId">
  <div *ngIf="f.submitted && emailId.invalid" class="invalid-feedback">
    <div *ngIf="emailId.errors.required">Email  is required</div>
  </div> 
</div>
<div class="form-group col-14">
  
    <!-- Age -->
    <input type="number" id="age" class="form-control mb-4" placeholder="Age" required #age="ngModel" [ngClass]="{ 'is-invalid': f.submitted && age.invalid }" [(ngModel)]="emp.age" name="age">
   <div *ngIf="f.submitted && age.invalid" class="invalid-feedback">
    <div *ngIf="age.errors.required">Age  is required</div>
  </div> 
</div>


  <input type="hidden" class="form-control" id="city2" required  name="city2"    value="{{selectedValue}}">
  <div class="form-group col-14">
      <!-- City Menu -->
      <select class="browser-default custom-select mb-4" #city="ngModel" [ngClass]="{ 'is-invalid': f.submitted && city.invalid }" required id="city" name="city" [(ngModel)]="emp.city" (change)="selectChangeHandler($event)">
         
        <option  *ngFor="let city of ListCity"  [ngValue]="city" >{{ city}}</option>   
      </select>
      <div *ngIf="f.submitted && city.invalid" class="invalid-feedback">
        <div *ngIf="city.errors.required">City is required</div>
    </div>
  </div>
  <div class="text-center">   
  <!-- Sign in button -->
  <button class="btn btn-dark " type="submit">Add Employee</button>&nbsp;
  <button class="btn btclass" type="reset">Cancel</button>
  </div>
  
  

</form>
<!-- Default form subscription -->
        </div>
      </div>
      <div class="col-md-7">
        <div class="card-body shadow">
          <!--<h5 class="card-title pos">List of employees</h5>-->
          <div class="contentcontainer med left">
          <form class="form-inline" name="formsearch">
            <input class="form-control mr-sm-2" type="search" id="search" placeholder="Search By City"  [(ngModel)]="employeeCity" (keyup)="onKey($event)">
            <button class="btn btn-light btn-outline-dark my-2 my-sm-0" style="border-radius: 12px;"type="button"  (click)="SearchEmp()">Search</button>
          </form>
        </div><br>
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col">FirstName</th>
                <th scope="col">LastName</th>
                <th scope="col">Email</th>
                <th scope="col">Age</th>
                <th scope="col">City</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
        
              <tr *ngFor="let emp of ListEmp | paginate: { itemsPerPage: 7, currentPage: p }">
                <td>{{ emp.firstName }}</td>
                <td> {{ emp.lastName }}</td>
                <td>{{ emp.emailId }}</td>
                <td>{{ emp.age }}</td>
                <td>{{ emp.city }}</td>
                <td>
                  <span class="fa-stack">
                    <i class="fa fa-trash" (click)="deleteEmp(emp.id)"></i>
                  </span>&nbsp;&nbsp;&nbsp;
                  <span class="fa-stack">
                    <i class="fa fa-pencil" data-toggle="modal" data-target="#exampleModalCenter" (click)="updateEmp(emp.id)"></i>
                  </span>&nbsp;&nbsp;
              </td>
              </tr>
              
            </tbody>
          </table>
          
        <div class="card-footer ">
                  <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
        
          <!--<h5 class="card-title pos">List of employees</h5>-->
        
          
        
              
        </div>

          
        
      </div>

    </div>
  </div>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header ">
        <h5 class="modal-title " style="margin-left: 30%;" id="exampleModalLongTitle">Edit Employee</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card-body">
          <!-- Default form subscription "-->
<form class="text-center border border-light p-5"  #form="ngForm">

  <!--<p class="h4 mb-4">Add Employee</p>-->

  <!-- FistName -->
  <input type="text" id="FistName1" class="form-control mb-4" placeholder="FirstName" required [(ngModel)]="employee.firstName" name="firstName1">
  <!-- LastName -->
  <input type="text" id="lastName1" class="form-control mb-4" placeholder="LastName" required [(ngModel)]="employee.lastName" name="lastName1">

  <!-- Email -->
  <input type="email" id="emailId1" class="form-control mb-4" placeholder="E-mail" required [(ngModel)]="employee.emailId" name="emailId1">

  <!-- Age -->
  <input type="text" id="age1" class="form-control mb-4" placeholder="Age" required [(ngModel)]="employee.age" name="age1">

      <!-- City Menu -->
      <select class="browser-default custom-select mb-4" required   [(ngModel)]="employee.city" id="City" name="City1"  (change)="selectChangeHandler2($event)">  
          <option  *ngFor="let city of ListCity" [ng-value]="employee.city">{{ city }}</option>   
      </select>
      
  <!-- Sign in button -->
  <button class="btn btn-dark btn-block" type="button" data-dismiss="modal"  (click)="SubmitEmp()">Edit Employee</button>
  
  

</form>
<!-- Default form subscription -->
        </div>
      </div>
    </div>
  </div>
</div>